{% extends "base.html" %}
{% block content %}
<form name="teacherForm" method="post">
	<div class="form-group">
		<label for="query"><h1><b>What would you like to ask?</b></h1></label>
		<input type="text" class="form-control" id="query" name="query">
	</div>
	<button type="submit" class="btn btn-default">
		Submit
	</button>
</form>
<h1> For best results, ask questions like:</h1>
<h2> -Who discovered antibiotics?</h2>
<h2> -Who invented the cotton gin?</h2>
<h2> -Who was the first man in space?</h2>
<h2> -Who was the first woman to fly across the Atlantic?</h2>
<h2> -When was John Lennon born? </h2>
<h2> -When was the Constitution signed? </h2>
<br>
<h1> For terrible results, ask questions like:</h1>
<h2> -Who shot Abraham Lincoln?</h2>
<h2> -Who painted the Mona Lisa?</h2>
<h2> -Who founded Coca Cola co.? (Free error message included!) </h2>
<h2> -Any death questions for dates </h2>
{% endblock %}
